body {
    background-image: url(background-image.png);
    background-color: lightblue;
  }
.box1{
position: absolute;
top: 0px;
left: 200px;
  }

#one{
    width: 100%;
    text-align: center;
    border-color: grey;
}
#second{
    border-color:grey;
    width: 100%;
    position:relative;
    left:10px;
    
}
